*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    min-height: 100vh;
}

.banner{
    margin-top:60px;
}
.banner-left{
    margin-top:50px;
    margin-bottom: 30px;
}
.btn-pri{
    background-color: #A4BC46;
    font-size: 14px;
}

.women-text{
    font-size: 16px;
    color:#3E3E3E;
}
.women-price{
    color:#FABE4C;
    font-size:30px;
}
.products-text{
    font-size: 14px;
}

.product-right img{
    max-width: 100%;
}